# prevent viewing of a specific file
<Files ~ "config.php|^dao/.*$|/^model/.*$|/^assets/.*$|/^controller/.*$">
  Deny from all
</Files>

<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

<Files ~ ".(xml|css|jpe?g|png|gif|js)$">
Allow from all
</Files>

# disable directory browsing
Options -Indexes

#default home
DirectoryIndex index.php home.php index.htm index.html ./404.php

#maximum file upload
LimitRequestBody 10240000

#hide php file by other
<FilesMatch "\.(htm|html|php)$">
SetHandler application/x-httpd-php
</FilesMatch>

#prevent folder listing
IndexIgnore *

#rewite url
<Ifmodule mod_rewrite.c>
RewriteEngine On
RewriteBase /cooker/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php !-f
RewriteRule ^([a-z].*)/([0-9].*)/?$ index.php?view=$1&id=$2 [NC,L] 
##RewriteRule ^(.*)$ index.php?view=$1 [NC,L] 
</Ifmodule>