/* common */
table th, td {
    text-align: center;
}

/* navbar  */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
.navbar.fix {
    left: 0;
    max-width: 100%;
    overflow: visible;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.jumbotron {
    margin-bottom: 0;
}

.navbar-custom {
   background-color: #003057;
   border-color: #E7E7E7;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
 }

/* footer */
footer{
    background-color: #f2f2f2;
    padding: 25px;
}

/* food-detail */
.food-detail{
  /* padding: 40px 40px 40px 40px; */
    margin: 40px 40px 40px 40px !important;
}

/* login form */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .col-sm-3 {
        margin: 55px 0;
    }
}

/* page suggest */
.suggest > table{
    border: 2px solid #0BA1F3;
}

.suggest table th{
    background-color: #0BA1F3;
    border: 3px solid #0BA1F3;
    color: white;
}

/* icon to top */
/* button to top */
.back-to-top{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
    text-decoration: none;
    font-size: 12px;
    display: none;
}
.back-to-top:hover{
    background-color:#32BFCCFF;
}

