/* navbar  */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}
.navbar.fix {
  left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.jumbotron {
  margin-bottom: 0;
}
.navbar-custom {
   background-color: #003057;
   border-color: #E7E7E7;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
display: block;    
 }

/* footer */
footer{
  background-color: #f2f2f2;
  padding: 25px;
}

/* chi tiet mon an */
table{
  float: left;
  border: 2px solid blue;
  width: 1200px;
} 
table tr td{
  border: 2px solid blue;
  width: 600px;
}
.main{
  padding: 2px;
  margin: 2px;
}
.hinh{
  margin: auto;
  text-align: center;
}

/* item mon an */
.panel-heading{
  background-color: black;
  text-align: center;
  color: white; 
}
.panel-footer{
  text-align: center;
}
  .img-responsive {
max-width:100%; 
max-height: 190px;
}

/* login form */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* page goi y */
.suggest{
  width: 100%;
}
.suggest > table{
  height:auto;
  width:1000px;
  border: 2px solid blue;
}
.suggest table tr th, td{
  border: 1px solid blue;
  text-align:center;
}
.suggest table tr th{
  background-color: gray;
  border: 3px solid blue;
  color: white;
}

/* don hang */
.table-donhang th, .table td {
  text-align: center;
}
.table-donhang th:nth-child(3), 
.table-donhang td:nth-child(3) {
  text-align: left;
}